<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>INFORMATION</h5>
                <ul class="list-unstyled quick-links">
                    <li>
                        <a href="javascript:void();">
                            <i class="fa fa-angle-double-right"></i>ABOUT US</a>
                    </li>
                    <li>
                        <a href="javascript:void();">
                            <i class="fa fa-angle-double-right"></i>CONTACT US</a>
                    </li>
                    <li>
                        <a href="javascript:void();">
                            <i class="fa fa-angle-double-right"></i>PRIVACY POLICY</a>
                    </li>
                    <li>
                        <a href="javascript:void();">
                            <i class="fa fa-angle-double-right"></i>TERMS & CONDITIONS</a>
                    </li>
                    <li>
                        <a href="javascript:void();">
                            <i class="fa fa-angle-double-right"></i>SITE MAP</a>
                    </li>
                    <li>
                        <a href="javascript:void();">
                            <i class="fa fa-angle-double-right"></i>RETURNS</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>I WANT</h5>
                <ul class="list-unstyled quick-links">
                    <li>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut nibh felis.
                    </li>
                    <li>
                        <textarea id="text_footer"></textarea>
                    </li>

                </ul>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <h5>GET IN TOUCH</h5>
                <ul class="list-unstyled quick-links">
                    <strong>Phone</strong>:0000-0000-0000
                    <li>
                        <strong>Email</strong>:fake@fake.com
                    </li>
                    <li></li>
                    <li>
                        <strong>Fake company LTD</strong>
                    </li>
                    <li>
                        Fake street, 123, Fake city
                    </li>
                    <li></li>
                    <li>LOCATION IN GOOGLE MAPS</li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item">
                        <a href="javascript:void();">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void();">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void();">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void();">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void();" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </hr>
    </div>
</hr></div></div></section>
